//  BASE STYLES
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: $whitegrey;
  font-family: $mainfont;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1;
}

img {
    height: auto;
  max-width: 100%;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
