@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

//FONTS
$mainfont: 'Arimo', sans-serif;

//COLORS
$darkblack: #222;
$gold: #E7B03D;
$lightblack: #444;
$lightblue: #2F99E7;
$lightgreen: #09BC8A;
$darkpurple: #774C60;
$lightpurple: #6870B8;
$lightgrey: #73797F;
$mainblack: #333;
$red: #E84C4C;
$white: #fff;
$whitegrey: #E3E8ED;
