.dashboard {
  background-color: $darkblack;
  min-height: 92vh;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 200px;
  @media only screen and (max-width: 1400px) {
    position: static;
    width: auto;
    min-height: 0;
    height: auto;
  }

  .dashboardName {
    text-decoration: none;
    font-size: 1.5rem;
  }

  .dashboardLink {
    padding: 48px;
    width: 200px;
    @media only screen and (max-width: 1400px) {
      display: inline-block;
    }
    @media only screen and (max-width: 1024px) {
      font-size: 1.35rem;
    }
    @media only screen and (max-width: 579px) {
      font-size: 1.1rem;
    }
    &:hover {
      i, .dashboardName {
        color: $white;
      }
    }
  }

  .DashboardLinkWrapper:hover, .DashboardLinkWrapper--active {
    .streamsLink {
      background-color: $lightgreen;
    }
    .gamesLink {
      background-color: $red;
    }
    .videosLink {
      background-color: $lightpurple;
    }
    .usersLink {
      background-color: $darkpurple;
    }
    .channelsLink {
      background-color: $gold;
    }
  }
}
