.header {
  color: $white;
  font-size: 3rem;
  padding: 19px 0;
  text-align: center;
  width: 100%;
  @media only screen and (max-width: 1400px) {
    font-size: 2.5rem;
    padding: 16px 0;
  }
  @media only screen and (max-width: 430px) {
    font-size: 2rem;
    padding: 8px 0;
  }
}

.homeHeader {
  @include header-background($lightblue);
}

.streamsHeader {
  @include header-background($lightgreen);
}

.gamesHeader {
  @include header-background($red);
}

.videosHeader {
  @include header-background($lightpurple);
}

.searchHeader {
  @include header-background($darkpurple);
}

.channelsHeader {
  @include header-background($gold);
}
