.header {
  position: absolute;
  top: 74px;
  left: 0;
  font-size: 3rem;
  padding: 20px 0;
  color: $white;
  text-align: center;
  width: 100%;
  // animation: slideIn 0.5s ease-in-out;
  // animation-fill-mode: forwards;
}

.homeHeader {
  @include header-background($lightblue);
}

.streamsHeader {
  @include header-background($lightgreen);
}

.gamesHeader {
  @include header-background($red);
}

.videosHeader {
  @include header-background($lightpurple);
}

.searchHeader {
  @include header-background($darkpurple);
}

.channelsHeader {
  @include header-background($gold);
}

@keyframes slideIn {
  0% {
    transform: translate3d(-1800px, 0, 0);
  }
  25% {
    transform: translate3d(-1200px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
