.header {
  font-size: 3rem;
  padding: 20px 0;
  color: $white;
  text-align: center;
  width: 100%;
}

.homeHeader {
  @include header-background($lightblue);
}

.streamsHeader {
  @include header-background($lightgreen);
}

.gamesHeader {
  @include header-background($red);
}

.videosHeader {
  @include header-background($lightpurple);
}

.searchHeader {
  @include header-background($darkpurple);
}

.channelsHeader {
  @include header-background($gold);
}
