
.homeContent {
  margin: 0 auto;
  width: 600px;
}

.diversionTag {
  text-decoration: underline;
}

.homeLinks {
  margin-right: 12px;
  text-decoration: underline;
}

p {
  padding-bottom: 24px;
  text-align: justify;
}

h2 {
  padding-bottom: 24px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  p, a, span {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .homeContent {
    padding: 32px;
    width: auto;
  }
}

@media only screen and (max-width: 430px) {
  .homeContent {
    padding: 40px;
  }
}
