.content  {
  padding-top: 72px;
  @media only screen and (max-width: 1400px) {
    padding: 0;
  }

  .contentListItem {
    padding: 32px;
    font-size: 1.35rem;
    align-self: center;
    &:hover {
      animation: growOnHover 0.2s ease-out;
      animation-fill-mode: forwards;
      @media only screen and (max-width: 430px) {
        animation: none;
      }
    }
  }

  .contentListItemFloatLeft {
    float: right;
  }

  .streamsList, .videosList {
    margin-top: 64px;
    padding-left: 290px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media only screen and (max-width: 1400px) {
      padding: 0;
    }
  }

  .gamesList {
    margin-top: 64px;
    padding-left: 240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media only screen and (max-width: 1400px) {
      padding: 0;
    }
  }

  @keyframes growOnHover {
    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1.2);
    }
  }

}
