.content  {
  padding-top: 67px;
  @media only screen and (max-width: 1400px) {
    padding: 0;
  }

  .contentListItem {
    align-self: center;
    font-size: 1.35rem;
    padding: 32px;
    @media only screen and (max-width: 430px) {
      padding: 32px 48px;
    }
    &:hover {
      animation: growOnHover 0.2s ease-out;
      animation-fill-mode: forwards;
      @media only screen and (max-width: 430px) {
        animation: none;
      }
    }
  }

  .contentListItemFloatLeft {
    float: right;
  }

  .streamsList, .videosList, .gamesList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 56px;
    padding-left: 200px;
    @media only screen and (max-width: 1400px) {
      padding: 0;
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 32px;
    .nextPageBtn {
      background-color: $lightgrey;
      color: $white;
      padding: 4px 16px;
    }
  }

  @keyframes growOnHover {
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.2);
    }
  }

}
