.mainHeader {
  align-items: center;
  background-color: $mainblack;
  display: flex;
  flex-flow: row nowrap;
  height: 7vh;
  justify-content: space-between;
  padding: 0 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  @media only screen and (max-width: 1400px) {
    flex-flow: column wrap;
    height: auto;
    margin: 0;
    padding: 16px 0;
    position: static;
  }

  .logo {
    color: $white;
    font-family: sans-serif;
    font-size: 2.5rem;
  }

  .searchbar {
    align-self: flex-end;
    display: inline-block;
    position: relative;
    input {
      background-color: $lightblack;
      border: none;
      border-radius: 20px;
      color: $white;
      font-size: 1.5rem;
      padding: 8px;
      width: 350px;
      @media only screen and (max-width: 430px) {
        width: 250px;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .favBtn {
    color: $white;
    border: none;
    background-color: $lightblack;
    margin-right: 24px;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 1.75rem
  }

  .searchbarBtn {
    background-color: $lightblack;
    border: none;
    border-radius: 5px;
    height: 33px;
    margin-right: 4px;
    vertical-align: bottom;
    .fa-search {
      color: $lightgrey;
    }
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  @keyframes extend {
    50% {
      width: 300px;
    }
    100% {
      width: 400px;
    }
  }


}
